a[href^="http://"]:after, a[href^="https://"]:after {
    content: url(//upload.wikimedia.org/wikipedia/commons/6/64/Icon_External_Link.png);
    margin: 0 0 0 5px;
}
.centerbox {
    margin: 0 auto;
    text-align: center;
}
.copyright {
    font-size: 0.75em;
}
.ui-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
}
div #title {
    font-size: 1.5em;
    font-weight: bold;
    padding-left: 10px;
}
div #info {
    padding-left: 10px;
}
/* Force content container with typeahead to expand to page min-height */
#checklists .ui-content,
#notables .ui-content {
  /*border: 1px solid black;*/
  min-height: 80vh !important;
}

.jqmobile-typeahead {
    padding: 0px 0px 0px 0px;
    margin-top: 0px;
    margin-bottom: 0px;    
}

.gotoRegion {
    margin-top: -1px;
    margin-bottom: 0px;
    text-align: left;
}
